[
{"name": "job1", "method": "get", "path":"/api/2.0/workspace/list", "body":{"path": "/"} },
{"name": "job2", "method": "get", "path":"/api/2.0/workspace/list", "body":{"path": "/"} },
{"name": "job3", "method": "get", "path":"/api/2.0/workspace/list", "body":{"path": "/"} }
]
